.detail_nweet {
  display: flex;
  flex-direction: column;
  padding: 1.5vh;
}

.detail_nweet_top {
  display: flex;
}

.detail_nweet_userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5vh;
  cursor: pointer;
}

.detail_nweet_userInfo:hover .detail_nweet_nick {
  text-decoration: underline;
}

.detail_nweet_nick {
  font-size: 1.9vh;
  font-weight: bold;
}

.detail_nweet_userId {
  padding-top: 0.8vh;
  font-size: 1.6vh;
  color: #536487;
}

.detail_nweet_profile > img {
  cursor: pointer;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.detail_nweet_profile > img:hover {
  filter: brightness(80%);
}

.detail_nweet_bot {
  display: flex;
  flex-direction: column;
}

.detail_nweet_content {
  white-space: normal;
  word-break: break-all;
  padding-top: 1.5vh;
}

.detail_nweet_text {
  white-space: pre-line;
  font-size: 2.5vh;
}

.detail_nweet_img {
  padding-top: 1vh;
  width: 100%;
  height: 32vh;
}

.detail_nweet_img > img {
  border: 0.5px solid #eff3f4;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.detail_nweet_createdAt {
  color: #536487;
  font-size: 1.6vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid #eff3f4;
}

.detail_nweet_liked {
  padding: 2vh 0 2vh 0;
  font-size: 1.6vh;
  border-bottom: 1px solid #eff3f4;
}

.detail_nweet_like_length :hover,
.detail_nweet_liked_text:hover {
  text-decoration: underline;
}

.detail_nweet_like_length {
  cursor: pointer;
  font-weight: bold;
}

.detail_nweet_liked_text {
  cursor: pointer;
  color: #536487;
}

.detail_nweet_btns {
  display: flex;
  justify-content: space-evenly;
  padding: 1vh 0 1vh 0;
  border-bottom: 1px solid #eff3f4;
}
