.nweet_wrapper {
  border-bottom: 1px solid #eff3f4;
}

.nweet_renweet {
  font-size: 1.5vh;
  color: #525252;
  font-weight: bold;
}

.nweet_renweet > span {
  display: inline-block;
  padding-left: 4.5vw;
  padding-top: 1vh;
}

.nweet {
  padding: 1.5vh 1.5vh 1.5vh 1.5vh;
  display: flex;
  cursor: pointer;
}

.nweet:hover {
  background-color: #f7f7f7;
}

.nweet_profile_img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 25px;
  cursor: pointer;
}

.nweet_profile_img:hover {
  filter: brightness(80%);
}

.nweet_right {
  display: flex;
  padding-left: 1.5vh;
  flex: 1;
  flex-direction: column;
}

.nweet_right_top {
  display: flex;
  flex: 0.1;
  justify-content: space-between;
}

.nweet_right_center {
  flex: 1;
}

.nweet_info {
  display: flex;
}

.nweet_info_displayName {
  font-weight: bold;
}

.nweet_info_displayName > a {
  cursor: pointer;
}

.nweet_info_displayName > a:hover {
  text-decoration: underline;
}

.nweet_info_userId {
  padding-left: 0.3vh;
}

.nweet_info_userId,
.nweet_info_timeAgo {
  font-size: 1.6vh;
  color: #536471;
}

.block {
  color: #536471;
  padding-left: 0.4vh;
  padding-right: 0.4vh;
}

.nweet_menu_wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.nweet_menu {
  padding: 0.7vh 0.5vh 0.5vh 0.5vh;
  border-radius: 50%;
  cursor: pointer;
}

.nweet_menu:hover {
  background-color: #e1eef7;
}

.nweet_drop_down {
  display: flex;
  z-index: 50;
  position: absolute;
  width: 25vh;
  height: 10vh;
  right: 0;
  background-color: white;
  box-shadow: 0 0 0.5vh 0.1vh rgba(128, 128, 128, 0.37);
  border-radius: 0.5vh;
  animation-duration: 0.1s;
  animation-name: slideTopToBot2;
}

@keyframes slideTopToBot2 {
  from {
    height: 5vh;
  }

  to {
    height: 10vh;
  }
}

.nweet_drop_menu {
  font-size: 1.7vh;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.nweet_delete_nweet:hover {
  background-color: #f3f3f3;
}

.nweet_delete_nweet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.nweet_right_bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nweet_right_bottom_like,
.nweet_right_bottom_reNweet,
.nweet_right_bottom_follow {
  cursor: pointer;
  display: flex;
}

.nweet_right_bottom_reNweet:hover > svg {
  background-color: #def1eb;
  fill: #00ba7c;
}

.nweet_right_bottom_like:hover > svg {
  background-color: #f8e0eb;
}

.liked {
  width: 2vh;
  fill: #f9318d;
}

.unliked,
.nweet_right_bottom_reNweet > svg {
  width: 2vh;
  fill: #536471;
}

.nweet_right_bottom_like > svg,
.nweet_right_bottom_reNweet > svg {
  padding: 0.7vh 0.7vh 0.7vh 0.7vh;
  border-radius: 50%;
}

.nweet_right_bottom_like > span,
.nweet_right_bottom_reNweet > span {
  padding-top: 0.7vh;
  color: #536471;
  font-size: 1.5vh;
  align-self: flex;
}

.nweet_hashtag {
  display: inline-block;
  color: #00acee;
  cursor: pointer;
}

.nweet_content {
  padding-bottom: 1vh;
  white-space: normal;
  word-break: break-all;
}

.nweet_content_img_wrapper {
  padding: 1vh 0 1vh 0;
  width: 100%;
  height: 32vh;
}

.nweet_content_img_wrapper > a {
  width: inherit;
  height: inherit;
}

.nweet_content_img_wrapper > a > img {
  border: 0.5px solid #eff3f4;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
