#root {
    overflow-x: hidden; overflow-y: scroll;
}

.nav, .home_right, .home_center {
    flex-grow: 1;
}

.nav {
    height: 100vh;
    position: sticky;
    top: 0;
    border: 1px solid black;
    background-color: brown;
    text-align: right;
}

.home_center {
    border: 1px solid black;
    background-color: burlywood;
}

.home_right {
    height: 100vh;
    position: sticky;
    top: 0;
    border: 1px solid black;
    background-color: gray;
}

.nav > ul {
    padding-right: px;
}

.test {
    height: 10000px;
}